body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}
h1{
  color: #66BFBF;
  font-size: 6rem;
  line-height: 2;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
p{
  line-height: 2;
}
a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}
a:hover{
  color: #eaf6f6;
}
.copyright{
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.top-container{
  background-color: #c3edea;
  position: relative;
  padding: 120px 0 0;
}
.profile{
  padding: 6rem 0;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
  background: #66bfbf;
  padding: 40px 0 20px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
  width: 15rem;
}
.bottom-cloud{
position: absolute;
left: 300px;
bottom: 300px;
width: 10rem;
}
.footer-link{
  color: #11999E;
}
.btn{
  color: #11999E;
  position: absolute;
  left: 600px;
}
.intro{
  width: 30%;
  margin: auto;
}
.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
padding: 4rem 0;
}
.pc{
  float: left;
  width: 25%;
  margin-right: 30px;
}
.education{
  float: right;
  width: 25%;
  margin-left: 30px;
}
.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}
.btn{
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(top, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.btn:hover{
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(top, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.mountain{
  width: 43rem ;
}
